body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cards__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1000px;
  max-width: 1200px;
  padding: 64px 0;
  margin: 0 auto;
}

.sedans {
  border-radius: 8px 0 0 8px;
}

.luxury {
  border-radius: 0 8px 8px 0;
}

.card__cta {
  margin: 96px 0 0 0;
}

.card__description {
  font-size: 0.9rem;
  max-width: 200px;
}
